<h2 class='text-3xl text-gray-800'>Welcome to the employee portal</h2>

<div class='my-10'>
  <p class='text-xl'>Navigation guide:</p>

  <ul class='mt-4 px-4 list-disc leading-8 text-lg'>
    <li><span class='font-semibold min-w-20'>Message board</span>
      - employee chat and messages</li>
    <li><span class='font-semibold min-w-20'>News</span>
      - company news and announcements</li>
    <li><span class='font-semibold min-w-20'>Login</span>
      - view your employee details</li>
    <li><span class='font-semibold min-w-20'>Profile (login required)</span>
      - view your employee dashboard</li>
    <li><span class='font-semibold min-w-20'>Support</span>
      - Contact admin staff for help</li>
  </ul>

</div>