<div class='my-auto mx-auto w-2/3 text-center h-3/4 flex flex-col justify-top'>
  <form
    action='#'
    class='mt-6 p-12 bg-gray-400 text-white flex flex-col gap-6 rounded-2xl'
  >
    <h2 class='text-3xl font-extrabold mb-10 mt-4'>Employee login</h2>
    <div class='flex flex-row justify-start'>
      <label class='flex-1' for='email'>Email</label>
      <input
        class='flex-1 py-1 px-4 rounded-sm'
        type='email'
        name='email'
        placeholder='your-email@mail.example.com'
      />
    </div>
    <div class='flex flex-row justify-start'>
      <label class='flex-1' for='email'>Password</label>
      <input
        class='flex-1 py-1 px-4 rounded-sm'
        type='password'
        name='password'
      />
    </div>

    <div class='mt-8 flex flex-row justify-end'>
      <button
        class='px-6 py-2 rounded-md border bg-gray-700 text-white hover:bg-gray-900 hover:border-gray-700'
        type='button'
      >Logout
      </button>

      <button
        class='px-6 py-2 rounded-md border bg-gray-700 text-white hover:bg-gray-900 hover:border-gray-700'
        type='button'
      >Login</button>
    </div>
  </form>
</div>