<div class='absolute sm:left-4 md:-left-24 top-6'>
  <a href='/admin'>
    <button
      type='button'
      class='rounded-lg text-base px-4 py-2 w-32 text-white bg-green-400 hover:bg-green-500'
    >&#8592; admin</button>
  </a>
</div>