<div
  id='nav'
  class='w-full mx-auto flex justify-between items-center px-14 h-24 bg-gray-900 text-white'
>
  <a href='/'>
    <h2 class='text-2xl flex-1'>TAFELabs Employee portal</h2>
  </a>
  <nav class='flex flex-row justify-end flex-1'>
    <ul class='flex flex-row justify-between gap-8'>
      <li><a href='/news'>News</a></li>
      <li><a href='/message-board'>Message board</a></li>
      <li><a href='/support'>Support</a></li>
      {{#if isLoggedIn}}
        <li><a href='/profile'>My Profile</a></li>
        <li><a href='/logout'>Log out</a></li>
      {{else}}
        <li><a href='/login'>Login</a></li>
      {{/if}}
    </ul>
  </nav>
</div>