<html>
  <head>
    <meta charset='utf-8' />
    <title>TAFELabs Employee Portal</title>
    <link href='/css/style.css' rel='stylesheet' />
  </head>
  <body class='bg-gray-200 font-sans leading-normal tracking-normal h-svh'>

    <!-- Navigation -->
  {{> navigation }}

    <!--Container-->
    <main class='container px-4 md:px-0 max-w-6xl mx-auto my-14'>
      <div id='content' class='mt-12'>
        {{{body}}}
      </div>

    </main>
  </body>
</html>